apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextflix-app
  labels:
    app: nextflix-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nextflix-app
  template:
    metadata:
      labels:
        app: nextflix-app
    spec:
      containers:
      - name: nextflix-app
        image: yassir17/nextflix:15
        ports:
        - containerPort: 80
